



.root{
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .item-img{
    position: relative;
    height: 24px;
    width: 24px;
      img{
        position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      }
  }
  .itemCounter{
    padding: 3px 6px;
    background: #2CB708;
    border-radius: 15px;
    position: absolute;
    right: 1px;
    top: -6px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}