.root{
  background-color:#EB8528;
  padding: 5px 10px;
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  color: #fff;
}

.rootSell{
  background: #3E16DD;
  border-radius: 10px;
  position: absolute;
  padding: 5px 10px;
  z-index: 2;
  color: #fff;
}