$black: #232323;
$background: #fafafa;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$container-width: 90%;
$duration: 0.15s;
$max-width: 1220px;


$on-btn: #2CB708;
$off-btn: #F8F3FF;
$btn-hover:#28970C;
$btn-active: #53DC2F;


$on-toggle:#9458F5; 
$off-toggle:#B9B9B9;

$new-good:#EB8528;
$sell-good:#3E16DD;