
@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
  background-color: $background;
}
.container{
  margin: 0 auto;
  max-width: $max-width;
  border: 1px solid saddlebrown;
  height: 100%;
}




.wrapper {
  overflow: hidden;
  min-height: 100%;
}


.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 0 20px;
  } 



